<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
جرم‌شناسی
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مقدمه و صورت مسئله
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
هدف شما در این مسئله، ایجاد یک مدل پیش‌بینی است که می‌تواند از داده‌های تاریخی حوادث جدید را در یکی از چندین دسته جرم طبقه‌بندی کند. این مدل باید به سازمان‌های مجری قانون کمک کند تا الگوهای رفتار مجرمانه را شناسایی کرده و تصمیمات آگاهانه‌تری در مورد استراتژی‌های پیشگیری از جرم در لس‌آنجلس بگیرند.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معرفی مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
مجموعه داده آموزشی شامل 84113 سطر است که در جدول زیر، توضیحات هر ستون آمده است.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|DR_NO| یک شناسه‌ی منحصر به فرد برای هر گزارش جرم|
|Date Rptd| تاریخ گزارش جنایت|
|DATE OCC| تاریخ وقوع جرم|
|TIME OCC| زمان وقوع جرم|
|AREA| کد منطقه‌ای که جرم در آن رخ داده است|
|AREA NAME| نام منطقه‌ای که جرم در آن رخ داده است|
|Rpt Dist No| شماره‌ی منطقه‌ی گزارش‌دهنده|
|Crm Cd| کد جرم که نشان‌دهنده‌ی دسته‌ی جرم است (این ستون، متغیر هدف است)|
|Crm Cd Desc| شرح جرم|
|Mocodes| کدهای نشان‌دهنده‌ی روش مورد استفاده برای ارتکاب جرم|
|Vict Age| سن قربانی|
|Vict Sex| جنسیت قربانی|
|Vict Descent| قومیت/تبار قربانی|
|Premis Cd| کد نوع محل وقوع جرم|
|Premis Desc| شرحی از محل|
|Weapon Used Cd| کد نوع سلاح مورد استفاده در جرم|
|Weapon Desc| شرحی از سلاح مورد استفاده|
|Status| وضعیت پرونده (به عنوان مثال، در دست بررسی، بسته‌شده)|
|Status Desc| شرح وضعیت پرونده|
|Crm Cd 1، Crm Cd 2، Crm Cd 3، Crm Cd 4| کدهای جرم اضافی در صورتی که حادثه شامل چندین جرم باشد|
|LOCATION| طول و عرض جغرافیایی جنایت|
|Cross Street| نزدیکترین چهارراه به محل وقوع جرم|
|LAT| مختصات عرض جغرافیایی جرم|
|LON| مختصات طول جغرافیایی جرم|

    
</font>
</div>
</center>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    مجموعه‌داده‌ی آزمایش نیز مانند مجموعه‌ی آموزش است با این تفاوت که ستون <code>Crm Cd</code> که متغیر هدف مسئله است را در خود ندارد. همچنین ستون‌های <code>Crm Cd 1</code> و <code>Crm Cd 2</code> و  <code>Crm Cd 3</code> و <code>Crm Cd 4</code> و <code>Crm Cd Desc</code> که اطلاعات مستقیم در مورد متغیر هدف دارند را نیز در خود ندارد. مجموعه‌داده‌ی آزمایش 9346 سطر و 21 ستون دارد.
</font>
</p>

In [23]:
import pandas as pd

df = pd.read_csv('train.csv')
df.info()
print("--------------------------------")
print(df.isnull().sum())
print("--------------------------------")
print("missing_columns = ",df.columns[df.isnull().any()].tolist())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84113 entries, 0 to 84112
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DR_NO           84113 non-null  int64
 1   Date Rptd       84113 non-null  object
 2   DATE OCC        84113 non-null  object
 3   TIME OCC        84113 non-null  int64
 4   AREA            84113 non-null  int64
 5   AREA NAME       84113 non-null  object
 6   Rpt Dist No     84113 non-null  int64
 7   Crm Cd          84113 non-null  int64
 8   Crm Cd Desc     84113 non-null  object
 9   Mocodes         70368 non-null  object
 10  Vict Age        84113 non-null  int64
 11  Vict Sex        70589 non-null  object
 12  Vict Descent    70588 non-null  object
 13  Premis Cd       84111 non-null  float64
 14  Premis Desc     84082 non-null  object
 15  Weapon Used Cd  29721 non-null  float64
 16  Weapon Desc     29721 non-null  object
 17  Status          84113 non-null  object
 18  Status Desc     84113 non-null  object
 19  Crm Cd 1        84111 non-null  float64
 20  Crm Cd 2        5285 non-null   float64
 21  Crm Cd 3        87 non-null     float64
 22  Crm Cd 4        3 non-null      float64
 23  LOCATION        84113 non-null  object
 24  Cross Street    15204 non-null  object
 25  LAT             84113 non-null  float64
 26  LON             84113 non-null  float64
dtypes: float64(8), int64(6), object(13)
memory usage: 17.3+ MB
--------------------------------
DR_NO                 0
Date Rptd             0
DATE OCC              0
TIME OCC              0
AREA                  0
AREA NAME             0
Rpt Dist No           0
Crm Cd                0
Crm Cd Desc           0
Mocodes           13745
Vict Age              0
Vict Sex          13524
Vict Descent      13525
Premis Cd             2
Premis Desc          31
Weapon Used Cd    54392
Weapon Desc       54392
Status                0
Status Desc           0
Crm Cd 1              2
Crm Cd 2          78828
Crm Cd 3          84026
Crm Cd 4          84110
LOCATION              0
Cross Street      68909
LAT                   0
LON                   0
dtype: int64
--------------------------------
missing_columns =  ['Mocodes', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc', 'Weapon Used Cd', 'Weapon Desc', 'Crm Cd 1', 'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'Cross Street']

In [21]:
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Crm Cd,Crm Cd Desc,Mocodes,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,201516407,10/17/2020 12:00:00 AM,10/15/2020 12:00:00 AM,2100,15,N Hollywood,1581,510,VEHICLE - STOLEN,NaN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,4300 WHITSETT AV,NaN,34.1486,-118.4052
1,200700622,03/24/2020 12:00:00 AM,03/24/2020 12:00:00 AM,1430,7,Wilshire,705,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 1814 1402,...,AA,Adult Arrest,626.0,998.0,NaN,NaN,800 N ALTA VISTA BL,NaN,34.0853,-118.3475
2,200312712,06/14/2020 12:00:00 AM,06/14/2020 12:00:00 AM,1030,3,Southwest,362,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",1251 1259 2024 1815 0554 0334 0913 0400 1402,...,JA,Juv Arrest,230.0,NaN,NaN,NaN,4600 OBAMA BL,NaN,34.0170,-118.3477
3,201515083,09/12/2020 12:00:00 AM,09/08/2020 12:00:00 AM,1528,15,N Hollywood,1585,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0325 0216,...,IC,Invest Cont,341.0,NaN,NaN,NaN,11200 W VENTURA BL,NaN,34.1430,-118.3727
4,200817552,12/14/2020 12:00:00 AM,12/14/2020 12:00:00 AM,805,8,West LA,853,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329 1822,...,AA,Adult Arrest,740.0,NaN,NaN,NaN,BARRINGTON,NEBRASKA,34.0445,-118.4491

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معیار ارزیابی
</font>
</h3>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
 معیار ارزیابی مورد استفاده در داوری این مسئله، امتیاز <code>F1 Macro</code> است که دقت و بازیابی را در تمام دسته‌های جرم به صورت متعادل‌شده بررسی می‌کند. بر خلاف دقت، که می تواند توسط داده‌های نامتعادل تغییر کند، امتیاز <code>F1 Macro</code>، امتیاز <code>F1</code> را برای هر دسته‌ی جرم به طور مستقل محاسبه می‌کند و سپس میانگین آن‌ها را محاسبه می‌کند. این معیار تضمین می‌کند که عملکرد در دسته‌های جرایم کم‌تکرار اهمیت یکسانی دارد. این ویژگی این معیار را برای پیش‌بینی انواع مختلف جرایم، صرف نظر از فراوانی آنها در مجموعه‌داده، مناسب می‌سازد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 پیش‌بینی برای داده تست و خروجی
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    از مدل خود برای پیش‌بینی نمونه‌های موجود در داده‌ی تست استفاده کنید و نتایج را در قالب جدولی (<code>dataframe</code>) به شکل زیر آماده کنید.
</font>
</p>

<div dir=rtl style="direction: rtl;text-align: center;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|------|---|
|Crm Cd|کد جرم پیش‌بینی‌شده|
    
</font>
</div>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    اسم دیتافریم باید <i>submission</i> باشد؛ در غیر این صورت، سامانه داوری نمی‌تواند تلاش‌ شما را ارزیابی کند.
    <br>
    این دیتافریم تنها شامل ۱ ستون با اسم <i>Crm Cd</i> است و ? سطر دارد.
    <br>
    به ازای هر سطر موجود در دیتافریم <i>test</i> شما باید یک مقدار پیشبینی شده داشته باشید.
    <br>
    جدول زیر، ۵ سطر ابتدایی دیتافریم <code>submission</code> را نشان می‌دهد. البته در جواب شما، مقادیر ستون <i>Crm Cd</i> ممکن است متفاوت باشد.
</font>
</p>

<div style="text-align: center;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|Crm Cd|
|-----|
|210|
|420|
|930|
|624|
|420|

</font>
</div>

In [ ]:
# predict test samples
submission =

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) در غیر این صورت، در پایان مسابقه نمره شما به صفر تغییر خواهد کرد.
    <br>
    همچنین اگر از کولب برای اجرای این فایل نوت‌بوک استفاده می‌کنید، قبل از ارسال فایل <code>result.zip</code>، آخرین نسخه‌ی نوت‌بوک خود را دانلود کرده و داخل فایل ارسالی قرار دهید.
</font>

In [ ]:
import zipfile
import joblib

if not os.path.exists(os.path.join(os.getcwd(), 'crime-detection.ipynb')):
    %notebook -e crime-detection.ipynb

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

submission.to_csv('submission.csv', index=False)
file_names = ['crime-detection.ipynb', 'submission.csv']
compress(file_names)